src/main/resources/WebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="WebService" targetNamespace="urn:com.example.switchyard:switchyard-bp:1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.example.switchyard:switchyard-bp:1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:com.example.switchyard:switchyard-bp:1.0" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:com.example.switchyard:switchyard-bp:1.0">
  <xs:complexType name="reportRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="stationType" type="tns:requestType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reportResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="gasStations" nillable="true" type="tns:gasStation"/>
      <xs:element minOccurs="0" name="stationType" type="tns:requestType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="gasStation">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="requestType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DB"/>
      <xs:enumeration value="STATIC"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="getStationReport" type="tns:getStationReport"/>
  <xs:complexType name="getStationReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="reportRequest" type="tns:reportRequest"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getStationReportResponse" type="tns:getStationReportResponse"/>
  <xs:complexType name="getStationReportResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="reportResponse" type="tns:reportResponse"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getStationReport">
    <wsdl:part name="parameters" element="tns:getStationReport">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStationReportResponse">
    <wsdl:part name="parameters" element="tns:getStationReportResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WebServicePortType">
    <wsdl:operation name="getStationReport">
      <wsdl:input name="getStationReport" message="tns:getStationReport">
    </wsdl:input>
      <wsdl:output name="getStationReportResponse" message="tns:getStationReportResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoapBinding" type="tns:WebServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getStationReport">
      <soap:operation soapAction="getStationReport" style="document"/>
      <wsdl:input name="getStationReport">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getStationReportResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServicePort" binding="tns:WebServiceSoapBinding">
      <soap:address location="http://localhost:8080/switchyard-bp/WebService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
